.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
    margin-top:20px;
    margin-left:80px;
  }
  
  .example-full-width {
    width: 100%;
  }
  .trends{
    margin-top:20px;
    background:blue;
    color:white;
    height:70px;
    padding:20px;
    width:120%;

  }
  .analysis{
    margin-top:20px;
    background:blue;
    color:white;
    height:70px;
    padding:20px;

  }
  .tab{
    display: inline-block;
    word-wrap: break-word;
    margin-top:20px;
    height:60px;
    padding:20px;
    box-shadow: 2px 2px 2px 2px grey;
    justify-content: center;
    border-radius:21px;
    margin-left:10px;
    cursor:default;
    width:100%;


  }
  .row{
    position: relative;
    width:100%;
    margin:0 auto;
  }
  .box{
    width:auto;
    /* box-shadow:11px 11px 0px 0px salmon; */
    margin:2rem;
    border:3px solid salmon;
    border-radius:12px;
  }
  .bars{
    /* background:linear-gradient(to right,orange,orange) 0 0/0 100% no-repeat,
      rgba(255, 165, 0,0.1); */
      background: linear-gradient(black,rgb(50, 206, 218));
      margin:0 auto;
    /* transition: background 1.3s ease; */
    animation:bar 2.3s ease ;
  }
  .bars:hover{
    background: black;
  }
  @keyframes bar {
    0%{
      width:10%;
    
    }
    100%{
      
    }
  }
.loading{
  position: relative;
  /* left:45%; */
  margin:0 auto;
  margin-top:30px;
  /* top:55%; */
  width: 100px;
  height:100px;
  border-radius: 11px;
  /* box-shadow: 2px 2px 2px 2px aqua; */
  background-color: brown;
  animation: load 2s ease 0s infinite alternate none;
}
@keyframes load {
  10%{
    background-color: aqua;
    transform: scale3d(105%);
  }
  40%{
    background-color: rgb(33, 116, 141);
    transform: scale3d(105%);
  } 60%{
    background-color: rgb(112, 47, 138);
    transform: scale3d(105%);
  } 80%{
    background-color: rgb(190, 29, 177);
    transform: scale3d(105%);
  } 100%{
    background-color: aqua;
    transform: scale3d(105%);
  }
  
}
