<form class="animate__animated animate__bounce example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Country</mat-label>
    <input type="text" #query placeholder="Pick one" aria-label="Country" matInput [formControl]="myNation"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredNations | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="btn btn-danger" (click)="trendingSearches(query.value)">Get Trends</button>

</form>

<div *ngIf="trends_res.length>0" class="results">
<div class="inner">
  <ul class="row-results" *ngFor="let o of trends_res ; let i =index ">
    <li class="row-li">{{ trends_res[(i)]}}<span style="margin-left:10px" (click)="copied(trends_res[(i)])"
        class="material-icons" [cdkCopyToClipboard]="trends_res[(i)]">
        content_copy
      </span><button (click)="getSearch(trends_res[(i)])"
        style="margin-left:10px;margin-bottom:18px;background:grey ;color:white;font-weight:bold;padding:5px;border-radius:21px;border:none">Curious</button>
    </li>
  </ul>
</div>
</div>


<div (click)="disappear()" class="mod_view" *ngIf="mod">
  "{{copy_value}}" has been copied ! <span
    style="border-radius:50px;padding:5px;margin-left:10px;margin-bottom:20px;border:1px solid white;color:white">X</span>

</div>

<div *ngIf="curious" class="hawa-hawai">

  <!-- <button class="btn btn-warning" (click)="close()">Close air view</button>
  <div style="padding:10px;margin:20px;text-decoration: wavy;color:blueviolet;font-style:italic"> You are curious about - {{curious_string}}</div>
      <div class="news-box" (click)="doNothing()" *ngFor="let j of news_arr">
        <div class="title">{{j.title}}</div>
        <div class="pic"><img width=330 height=400 src="{{j.urlToImage}}"></div>
        <div class="desc">{{j.description}}</div>
        <div class="dat">Published on : {{j.publishedAt.substring(0,10)}}</div>
        <button class="btn btn-info"><a href="{{j.url}}" target="_blank">Read More</a></button>
  <button style="margin-left:5px"class="btn btn-warning" (click)="close()">Close air view</button>

      </div>
  <button class="btn btn-warning" (click)="close()">Close air view</button> -->
  <button class="btn btn-warning" (click)="close()">Close air view</button>
  <div style="padding:10px;margin:20px;text-decoration: wavy;color:blueviolet;font-style:italic"> You are curious about
    - {{curious_string}}</div>
  <br>
  <div class="news-box" *ngFor="let j of news_arr; let i=index">
    <!-- <span *ngIf="i <4"><pre [innerHTML]="highlight(j)"></pre></span> -->
    {{j}}

  </div>