.example-form {
   
    max-width: 80%;
    margin:0 auto;
    margin-top: 30px;
  }
  
  .example-full-width {
    width: 80%;
  }
  li{
    list-style: none;
    box-shadow: 1px 1px 1px 1px pink;
    border-radius: 11px;
    display: flex;
    margin:20px;
    padding:1rem;
    /* overflow: auto; */
  }
  .newsli{
    width:100%;
    /* background: rgb(77, 115, 219);
    color:white */
  }
  .mod_view{
    z-index: 1;
    position:fixed;
    left:10%;
    top:80%;
    background:green;
    color:white;
    padding:20px;
    border-radius:21px;
    cursor: pointer;
    width: fit-content;
  

   animation: copy 0.8s ease;

  }
  *{
    transition: all 0.5s ease;
  
  }
  @keyframes copy {
    0%{
      top:60%;
    }
    100%{
      top:80%;
    }
  }
.hawa-hawai{
  position:fixed;
  left:15%;
  background:pink;
  left:auto;
  top:100%;
  z-index:99;
  /* box-shadow: 2px 2px 2px 2px steelblue; */
  background:white;
  padding:30px;
  border-radius:11px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  width:100%;


}
.news{
  /* width: 90%; */
  margin:0 auto;
}
.news-box{
  position: fixed;
  left:10%;
  top:20%;
  background:blue;
  opacity: 0.4;
  border-radius:17px;
  padding: 10px;
    width:60%;
  box-shadow: 2px 2px 2px 2px red;
  background:white;
  color:black;
  /* grid-column: span 5; */
  width:100%;
  padding-left:10px;
  grid-gap:10px;
  z-index:101;
}
.news-box1{
  position: fixed;
  left:4%;
  top:30%;
  /* border:1px solid brown; */
  display: block;
  z-index:1001;
  background-color:white;
  box-shadow: 2px 2px 2px 2px silver;
  width:95%;
  word-wrap: break-word;
  padding:2rem;
  overflow: auto;
  height: 60vh;
  animation:  box1 1.5s ease;
  color:rgb(44, 44, 44);
  /* color:white; */
}
@media  (max-width:800px) {
  .news{
    height:50vh;
    overflow: auto;
  }
}
@media  (min-width:801px) and (max-width:1000px) {
  .news{
    height:60vh;
    overflow: auto;
  }
}
@keyframes box1 {
  0%{
    /* transform: rotate(-8deg); */
    height:10vh;
    width:10%;
  }
  100%{
    /* transform: rotate(8deg); */

  }
  
}
.pic{
  padding:10px;
  margin:10px;
}
.dat{
  margin-left:10px;
  margin-bottom:10px;
  padding:10px;
}
.title{
  font-size:30px;
  padding:10px;
  margin:5px;
}
.desc{
  padding:10px;
  margin:5px;
  font-size:16px;
}
a{
  text-decoration: none;

}
/* .results{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */
.inner{
 display: grid;
 grid-template-columns: auto;
}
.grids{
  grid-gap: 5px;
  /* grid-column: 1/; */
}
.material-icons{
  cursor:copy;
}
.loading{
  position: relative;
  /* left:45%; */
  margin:0 auto;
  margin-top:30px;
  /* top:55%; */
  width: 100px;
  height:100px;
  border-radius: 11px;
  /* box-shadow: 2px 2px 2px 2px aqua; */
  background-color: brown;
  animation: load 2s ease 0s infinite alternate none;
}
@keyframes load {
  10%{
    background-color: aqua;
    transform: scale3d(105%);
  }
  40%{
    background-color: rgb(33, 116, 141);
    transform: scale3d(105%);
  } 60%{
    background-color: rgb(112, 47, 138);
    transform: scale3d(105%);
  } 80%{
    background-color: rgb(190, 29, 177);
    transform: scale3d(105%);
  } 100%{
    background-color: aqua;
    transform: scale3d(105%);
  }
  
}
