<form class="animate__animated animate__bounce example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Country</mat-label>
    <input type="text" #query placeholder="Pick one" name="country" [ngModel]="val" aria-label="Country" matInput [formControl]="myNation"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredNations | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="btn btn-danger" (click)="trendingSearches(query.value)">Get Trends</button>

</form>
<div class="loading" *ngIf="trends_res.length==0 && tr===true"> </div>
<div *ngIf="trends_res.length>0" class="row news" style="margin:3rem;">
    <ul *ngFor="let o of trends_res ; let i =index" class="col-md-5 col-xs-12 col-sm-12  col-lg-4 ">
      <li class="newsli">{{ trends_res[(i)]}}

        <span style="margin-left:5px"
         (click)="copied(trends_res[(i)])" 
         class="material-icons"
          [cdkCopyToClipboard]="trends_res[(i)]">
          content_copy
        </span>
        <span style="font-size: large;cursor: pointer;margin-left:10px" (click)="getSearch(trends_res[(i)])"> 🕵️</span>
      
      </li>
    </ul>
</div>


<div (click)="disappear()" class="mod_view" *ngIf="mod">
  "{{copy_value}}" has been copied ! <span
    style="border-radius:50px;padding:5px;margin-left:10px;margin-bottom:20px;border:1px solid white;color:white">X</span>


  </div>
  <div class="loading1" *ngIf="loader">

  </div>
<div *ngIf="curious" class="hawa-hawai">

  <!-- <button class="btn btn-warning" (click)="close()">Close air view</button>
  <div style="padding:10px;margin:20px;text-decoration: wavy;color:blueviolet;font-style:italic"> You are curious about - {{curious_string}}</div>
      <div class="news-box" (click)="doNothing()" *ngFor="let j of news_arr">
        <div class="title">{{j.title}}</div>
        <div class="pic"><img width=330 height=400 src="{{j.urlToImage}}"></div>
        <div class="desc">{{j.description}}</div>
        <div class="dat">Published on : {{j.publishedAt.substring(0,10)}}</div>
        <button class="btn btn-info"><a href="{{j.url}}" target="_blank">Read More</a></button>
  <button style="margin-left:5px"class="btn btn-warning" (click)="close()">Close air view</button>

      </div>
  <button class="btn btn-warning" (click)="close()">Close air view</button> -->
  <button class="btn" style="background: blueviolet;" (click)="close()">Close air view</button>
  <div style="padding:10px;margin:20px;text-decoration: wavy;color:blueviolet;font-style:italic"> You are curious about
    - {{curious_string}}</div>
  <br>

<div *ngIf="ress.length >0">
  <div class="news-box1" *ngFor="let j of ress; let i=index">
    <div style="display: flex;margin-top:5px;padding-top:15px" *ngFor="let i of j">
      <span> {{i.title}}</span>
      <a href={{i.url}} target="blank"> <button class="btn btn-info" style="margin-left: 10px;">Go to article by
          {{i.publisher}}</button></a>
    </div>
    <button class="btn btn-danger" style="position:absolute;right:3%;top:1%" (click)="close()">Close</button>

  </div>
</div>
<div *ngIf="ress.length === 0">
  <div class="news-box1" >
    <div style="display: flex;margin-top:5px;padding-top:15px" >
      Oops there is no info ! Please copy the text to search for or know insights in Analysis tab
    </div>
    <button class="btn btn-danger" style="position:absolute;right:3%;top:1%" (click)="close()">CLose</button>

  </div>
</div>