<!-- <mat-toolbar color="primary"> -->
  <!-- <mat-icon>local_fire_department
  </mat-icon> -->
  <!-- <span class="material-icons">
    sports_esports
  </span>
  <span class="material-icons">
    trending_up
  </span>
  <div class="title" style="margin-left: 10px;">Data Playground Utility App [DPUA]</>
  <span class="badge" style="position:absolute; left:80%">{{now | date:"HH:mm:ss"}}</span>
</mat-toolbar> -->
<div class="nav">
  <span class="material-icons">
    sports_esports
  </span>
  <div class="title">
    Data Playground Utility App [DPUA]
  </div>
  <!-- <span class="badge" style="position:absolute; left:80%">{{now | date:"HH:mm:ss"}}</span> -->
</div>