<div class="view2">
	<img class="view animate__animated animate_fadeIn" src="assets/view2_landscape.jpg">
	<div class="above">12&deg;C
		<span style="font-size:20px;color:white">Cloudy</span>
	</div>
	<div class="above_nation">India</div>
</div>
<div class="postion  container">
	<div class="app">
		<div class="app_calendar">
			<div class="weekday">{{weekdays[day]}}</div>
			<div class="day">{{din.getDate()}}
				<br><span style="font-size:20px;margin-left:20px">{{month[mon]}}</span><br>
				<span style="font-size:30px;margin-top:60px;margin-left:-40px;color:teal">{{yr}}</span>
			</div>
		</div>
		<p class="app_name" style="color:white"></p>
	</div>
</div>